@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Sign In","Index","Admin")

    @foreach (var c in Model)
    {
        <fieldset style="width: 50%">
            <legend>@c.Title</legend>
            <form action="~/Home/Post" method="GET">
                <input id="ID" type="hidden" name="ID" value="@c.PostID"/>
                <div>@c.Date.ToString()</div><br />
                <fieldset>
                    <div>@c.Message</div>
                </fieldset>
                <input type="submit" value="Comment"/>
            </form>
        </fieldset>
    }
